VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_CONTACT_TEMPLATE_ID=your_contact_template_id
VITE_EMAILJS_VALUATION_TEMPLATE_ID=your_valuation_template_id
VITE_EMAILJS_PROPERTY_MANAGEMENT_TEMPLATE_ID=your_property_management_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
