@import "tailwindcss";
@font-face {
    font-family: 'BwAletaNo10';
    src: url('/fonts/BwAletaNo10-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.font-primary {
    font-family: 'BwAletaNo10', sans-serif !important;
}

.font-serif-new {
    font-family: "Times New Roman", Times, serif !important;
  }